
.popover {
    max-width: 100%;
}


.table td {
    text-align: center;
}

.table > thead > tr:first-child {
    display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}









